@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
  width: 200px;
  height: 200px;
}

button {
  display: inline-block;
}

#block-jeu {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.section1 {
    width: 90%;
    margin-left: 5%;
}

#statut-jeu {
    font-size: 30px;
}

.jeu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  margin-top: 150px;
  margin-bottom: 150px;
}
footer {
  background: var(--bg);
}

footer .credit{
  display: flex;
  justify-content: center;
  color: var(--text);
  padding: 3vh;
  text-decoration: none;
}

footer .credit a {
  color: var(--text);
  text-decoration: none;
}

footer .credit a:hover {
  transition: all 0.2s;
  color: #9d9d9e;
  border-bottom: 1px solid var(--text);
}

