@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: whitesmoke;
    height: min-content;
}

header{
    height: 100vh;
    background: linear-gradient(#d3d156, #c55900);
}

.header-objects{
    display: flex;
    justify-content: space-around;
    padding: 3vh 0 3vh 0;
}

.MadeBy{
    padding-right: 15vh;
    margin: auto 0;
}

.Buttons-Div-Size{
    width: max-content;
    margin: auto 0;
}

.Redirect-Buttons{
    display: flex;
    justify-content: center;
    margin: auto 0;
}
.Redirect-Buttons a{
    padding: 1vh;
    margin: 5px;
    border-radius: 5px;
    font-size: 19px;
    color: black;
    text-decoration: none;
}

.Redirect-Buttons a:hover{
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    transition: 0.5s;
}

.header-objects-midle{
    display: flex;
    justify-content: center;
    padding: 14vh 0 6vh 0;
}

.Description-Header{
    width: 40vh;
    margin: 8.5vh 0 8.5vh 4vh;
    font-size: 20px;
    padding-top: 4vh;

}

.Description-Header h4{
    padding-top: 2vh;
}

.Title-Header{
    display: flex;
    justify-content: end;
    margin: 8.5vh 4vh 8.5vh 0;
    font-size: 40px;
    text-align: end;
}

.Title{
    width: min-content;
}

.BlockArrow{
    text-align: center;
    animation: move 1.5s infinite;
}

.GoDown{
    font-size: 62px;
}

@keyframes move{
    0%,
    100% {
        color: yellow;
        text-shadow: 0 0 10px rgb(207, 187, 0), 0 0 50px rgb(207, 187, 0), 0 0 80px rgb(207, 187, 0);
    }

    65%,
    100% {
        color: black;
        text-shadow: none;
    }

    100%,
    100% {
        color: yellow;
        text-shadow: 0 0 10px rgb(207, 187, 0), 0 0 50px rgb(207, 187, 0), 0 0 80px rgb(207, 187, 0);
    }
}

.arrowPresentation{
    height: max-content;
    background-color: #c55900;
}

.ArrowPresDiv{
    padding: 14vh 0 6vh 0;
    display: flex;
    justify-content: center;
}

.ArrowPresDivTitle{
    font-size: 30px;
    text-align: start;
    padding-left: 2vh;
    padding-top: 1vh;
}

.ArrowPresDivText{
    padding-right: 2vh;
    text-align: end;
}

.prismCode{
    width: fit-content;
    margin: auto;
    padding-bottom: 5vh;
}

.interPrismCode{
    text-align: center;
    padding: 2vh 0 7vh 0;
}

.ScrollPresDiv{
    padding: 14vh 0 6vh 0;
    display: flex;
    justify-content: center;
}

.ScrollPresDivTitle{
    font-size: 30px;
    text-align: End;
    padding-right: 2vh;
    padding-top: 1vh;
}

.ScrollPresDivText{
    padding-left: 2vh;
    text-align: start;
}

.centerButton {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.ButtonShow {
    padding: 20px 50px 20px 50px;
    border-radius: 15px;
    background-color: rgb(44, 44, 44)/*transparent*/;
    color: whitesmoke;
    font-size: 26px;
    border-style: none;
    margin-top: 20px;
    transition: 0.2s;

}

.ButtonShow:hover {
    background-color: rgb(22, 22, 22)/*transparent*/;
    transition: 0.2s;
}

.Display {
display: none;
}

.ButtonActiveDiv{
    padding: 14vh 0 6vh 0;
    display: flex;
    justify-content: center;
}

.ButtonTextTitle{
    font-size: 30px;
    text-align: start;
    padding-left: 2vh;
    padding-top: 1vh;
}

.ButtonTextText{
    padding-right: 2vh;
    text-align: end;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track-piece  {
    background-color: #d3d156;
}
::-webkit-scrollbar-thumb:vertical {
    height: 15px;
    background-color: #c55900;
}

.ButtonActiveScrollBarTuto{
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

footer {
    background: var(--bg);
}

:root{
    --bg: #11101D;
    --text: #fff;
}

footer .credit{
    display: flex;
    justify-content: center;
    color: var(--text);
    padding: 3vh;
    text-decoration: none;
}

footer .credit a {
    color: var(--text);
    text-decoration: none;
}

footer .credit a:hover {
    transition: all 0.2s;
    color: #9d9d9e;
    border-bottom: 1px solid var(--text);
}